---
import { db, Comment } from "astro:db";
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "POST") {
	try {
		const formData = await Astro.request.formData();
		const authorId = Number(formData.get("authorId"));
		const content = formData.get("content");

		if (typeof authorId === "number" && typeof content === "string") {
			await db.insert(Comment).values({ authorId, content });

			// Inserta datos del formulario en la tabla de usuarios
		} else {
			throw new Error("Invalid data format");
		}
	} catch (error) {
		console.error("Error inserting user:", error);
		// Maneja el error de inserción aquí
	}
}
---

<Layout title="Welcome to Astro.">
	<div
		class="flex-col m-auto justify-center items-center max-w-[600px] mt-10
text-white"
	>
		<h2>comentarios</h2>

		<form method="POST" style="display: grid">
			<label for="authorId">id de usuario</label>
			<input
				id="authorId"
				name="authorId"
				placeholder=" authorId"
				class="border border-neutral-500 text-black"
			/>

			<label for="content">content</label>
			<input
				id="content"
				name="content"
				placeholder="content"
				class="border border-neutral-500 text-black"
			/>

			<button type="submit" class="bg-blue-600 my-5 h-10 rounded-md"
				>Enviar</button
			>
		</form>
	</div>
</Layout>
