---
import Layout from "../layouts/Layout.astro";
import { db, /* Comment */ User } from "astro:db";
import ButtonDelete from "../components/ButtonDelete";
import type Email from "@auth/core/providers/email";
import { eq } from "astro:db";
//const comments = await db.select().from(Comment);
const users = await db.select().from(User);
/* console.log(users);
console.log(comments); */
---

<Layout title="DB">
	<div class="text-white flex flex-col justify-center items-center gap-10 mt-5">
		<h1>BASES DE DATOS</h1>

		<div class="shadow-md rounded-lg w-[1000px]">
			<table
				class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
			>
				<thead
					class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
				>
					<tr>
						<th scope="col" class="px-6 py-3"> UserName </th>
						<th scope="col" class="px-6 py-3"> Email </th>
						<th scope="col" class="px-6 py-3"> Action </th>
					</tr>
				</thead>
				<tbody>
					{
						users.reverse().map((user) => (
							<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
								<th
									scope="row"
									class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
								>
									{user.username}
								</th>
								<td class="px-6 py-4"> {user.email} </td>
								<td class="px-6 py-4">
									{/* 	<ButtonDelete client:load email={user.email} /> */}
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</div>
</Layout>
