---
import Layout from "../layouts/Layout.astro";
import { db, User } from "astro:db";

const users = await db.select().from(User);
---

<Layout title="Welcome to Astro.">
	<div class="text-white">
		<h1>USERS</h1>
		{
			users.map(({ username, email }) => (
				<article>
					<p>Nombre de usuario: {username}</p>
					<p>Email: {email}</p>
				</article>
			))
		}
	</div>
</Layout>
